* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --main-font: "Roboto", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url("../public/logo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: soft-light;
}
